@model ReminderView

@{
    ViewData["Title"] = "Reminders";
}

<div class="row">
    @if(true/* string.IsNullOrEmpty(Model.Username) */)
    {
        <!-- not logged in -->
        <div class="col-md-6">
            <h2>Sign Up, @Model.Username</h2>
            @{Html.RenderPartial("~/Views/Partials/SignUp.cshtml", Model.SignUpFormViewModel);}
        </div>
        <div class="col-md-6">
            <h2>Log In</h2>
            @{Html.RenderPartial("~/Views/Partials/Login.cshtml", Model.LoginFormViewModel);}
        </div>
    }
    else
    {
        <!-- logged in -->
        
    }
    
</div>

<!-- <div class="row">
    <div class="col-md-3">
        <button>Delete</button>
    </div>
    <div class="col-md-3">
        <h2>Data</h2>
    </div>
    <div class="col-md-3">
        <h2>Time</h2>
    </div>
    <div class="col-md-3">
        <h2>Description</h2>    
    </div>
</div> -->