@{
    ViewData["Title"] = "Notes";
}

<div class="row">
    <div class="col-md-3">
        <button>Delete</button>
    </div>
    <div class="col-md-3">
        <h2>Data</h2>
    </div>
    <div class="col-md-3">
        <h2>Time</h2>
    </div>
    <div class="col-md-3">
        <h2>Description</h2>    
    </div>
</div>